<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tian.pusen.data.mapper.ElementItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="tian.pusen.data.entity.ElementItem">
        <id column="id" property="id" />
        <result column="element_id" property="elementId" />
        <result column="name" property="name" />
        <result column="name_en" property="nameEn" />
        <result column="name_sql" property="nameSql" />
        <result column="name_c" property="nameC" />
        <result column="name_java" property="nameJava" />
        <result column="name_js" property="nameJs" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

</mapper>
