<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}"/>-->
</head>

<body>
DEFAULT
<p th:text="${message}">Default Mesage</p>
<p th:text="${date}">today</p>

<!--<div id="request">-->
<!--    REQUEST-->
<!--    <p th:text="${param.message}">Default Mesage</p>-->
<!--    <p th:text="${param.date}">today</p>-->
<!--</div>-->

<!--<div id="sesion">-->
<!--    SESSION-->
<!--    <p th:text="${sesion.message}">Default Mesage</p>-->
<!--    <p th:text="${sesion.date}">today</p>-->
<!--</div>-->

<!--<div id="application">-->
<!--    SERVLET CONTEXT-->
<!--    <p th:text="${application.message}">Default Mesage</p>-->
<!--    <p th:text="${application.date}">today</p>-->
<!--</div>-->
</body>
</html>