<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>websocket测试</title>
    <script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
    <script th:src="@{/js/websocket.js}"></script>
</head>
<body>
<h3>WebSocket测试，在<span style="color:red">控制台</span>查看测试信息输出！</h3>
<p>
    <h4>
        单发消息链接<br/> /api/ws/sendOne?message=单发消息内容&id=0 <br/>
        群发消息链接<br/> /api/ws/sendAll?message=群发消息内容
    </h4>
</p>

<button id="connect-btn" onclick='connect()'>新建连接 js增加控制连接一次</button>
<button onclick='disconnect()' >关闭连接</button>
<button onclick='sendMsg("测试消息", 0)'>发送消息</button>
<button onclick='sendAll("这是服务中心")'>发送通知</button>
<button onclick='sessionList()'>连接session</button>

<script >

    //窗口关闭时，关闭连接
    window.unload=function() {
        socket.close();
    };
</script>

</body>
</html>